$border-color: #5cb85c;
$cat-name-color: #357935;
$cat-age-color: #5cb85c;
$border-radius: 0.375rem;
$border-size: 2px;
$main-padding-size: 1rem;
$btn-vertical-padding: 0.75rem;
$btn-horizontal-padding: 0.375rem;

@mixin card-divider {
  border-top: $border-size solid $border-color;
}

@mixin button-base {
  font-size: 1rem;
  padding: $btn-horizontal-padding $btn-vertical-padding;
  border: $border-size solid $border-color;
  border-radius: $border-radius;

  &:hover {
    background: $cat-age-color;
    color: #fff;
  }
}

.sass-card {
  border: $border-size solid $border-color;

  .cat-image {
    text-align: center;

    img {
      width: 100%;
    }
  }

  .cat-bio {
    @include card-divider;
    padding: $main-padding-size;
  }

  .cat-name {
    margin: 0 0 8px;
    color: $cat-name-color;
    font-weight: bold;
  }

  .cat-age {
    color: $cat-age-color;
    font-weight: bold;
  }

  .cat-actions {
    @include card-divider;
    padding: calc(#{$main-padding-size} / 2) $main-padding-size;
    overflow: auto;

    button {
      @include button-base;
    }

    .btn-like {
      float: left;
    }

    .btn-pet {
      float: right;
    }
  }
}
